@import "../settings";


.notFound-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 75px auto auto;
  height: 80vh;
  width: 60%;
  //max-width: 1200px;
  background: $color-3;
  border-radius: 25px;
  text-align: center;
  flex-direction: column;

  h3 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  p {
    margin-bottom: 3rem;
    font-size: 1.5rem;
  }
  a {
    padding: 1rem 2rem;
    border-radius: 25px;
    background: $color-2;
    transition: .2s;

    &:hover {
      background: $color-1;
    }
  }
}

