@import "../settings";

@import "../settings";

.settings-page {
  margin: 80px auto 0;
  max-width: 1200px;

  .icons {
    top: 55px;
  }

  h1 {
    text-align: center;
    margin: 10px 0 6px;
  }

  .settings-container {
    display: grid;
    grid-template-columns: 50% 50%;

    @media screen and(max-width: 700px) {
      grid-template-columns: 1fr;
    }

    > div {
      background: $color-3;
      border-radius: 20px;
      padding: 25px;
      margin: 20px 10px;

      @media screen and(max-width: 700px) {
        margin: 10px 10px;
      }
    }
    .settings-left-part {
      text-align: center;

      h3 {
        margin-bottom: 12px;
      }
    }

    .settings-right-part {
      text-align: center;
      padding: 20px 40px;

      h3 {
        margin-bottom: 12px;
      }



    }
  }
}
