@import "../settings";

.footer{
  column-count: 3;
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(117, 122, 111);
  color: $color-3;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;

  a {
    color: $color-2;
  }
}