@font-face {
  font-family: "font-1";
  src: url(assets/fonts/JosefinSans-ExtraLight.ttf);
}
@font-face {
  font-family: "font-2";
  src: url(assets/fonts/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: "font-3";
  src: url(assets/fonts/JosefinSans-Bold.ttf);
}

$font-1: "font-1", sans-serif;
$font-2: "font-2", serif;
$font-3: "font-3", serif;

$save-1: rgb(255, 123, 119);
$save-2: rgb(255, 208, 196);
$save-3: rgb(253, 238, 238);

$color-1: rgb(76, 149, 108);
$color-2: rgb(150, 224, 114);
$color-3: rgb(232, 252, 207);

$green-01: rgb(56, 102, 65);
$green-02: rgb(106, 153, 78);
$green-03: rgb(167, 201, 87);

$green-11: rgb(44, 110, 73);
$green-12: rgb(76, 149, 108);
$green-13: rgb(254, 254, 227);

$green-21: rgb(19, 70, 17);
$green-22: rgb(62, 137, 20);
$green-23: rgb(61, 163, 93);
$green-24: rgb(150, 224, 114);
$green-25: rgb(232, 252, 207);

$black: rgb(40, 40, 40);
$white: rgb(253, 253, 253);
$shadow: rgb(219, 218, 218);
$box-shadow-color: rgba(34, 96, 27, 0.38);

/* scrollbar-width and color only work on Firefox */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
  scrollbar-width: thin;
  scrollbar-color: $color-1 $color-2;

  &::selection {
    background: $color-1;
  }
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: $color-2;
}

*::-webkit-scrollbar-thumb {
  background-color: $color-1;
  border-radius: 20px;
  border: 3px solid $color-2;
}

a,
a:visited {
  color: $black;
}
input,
textarea {
  resize: none;
  border-radius: 20px;
  width: 270px;
  font-family: $font-1;
  background: $white;
}
textarea {
  &:focus {
    box-shadow: 0 0 4px rgba(0, 22, 44, 0.1);
  }
}
button,
input[type="submit"] {
  background: $color-2;
  color: $color-1;
  font-family: $font-3;
  cursor: pointer;
  transition: 0.2s;
  margin: 0;
  padding: 10px 20px;
  font-size: 1.1rem;
  border-radius: 20px 6px 20px 20px;

  &:hover {
    background: $color-1;
    color: $color-2;
  }
}
input[type="checkbox"] {
  box-shadow: none;
  width: 20px;
  margin: 10px 0;
}
i {
  transition: 0.15s;

  &:hover {
    transform: scale(1.1);
  }
}
body {
  font-family: $font-2;
  line-height: 1.4rem;
  background: $white;
  color: $black;
}
.error {
  color: red;
  font-weight: bold;
}
.success {
  color: green;
  font-weight: bold;
}
